@use '../variables'

#portfolio
    padding: 1em
    display: flex
    flex-wrap: wrap
    gap: 0.5em

#gustavo 
    width: 100%
 


    h1 
        text-align: left
        font-size: 3rem
        margin-bottom: 1em
        background: variables.$gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    
