#sidebar {
background-color: #FFF;
    flex: 1 1 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
    
img {
 padding-top: 5px;
 max-width: 70%;
 border-radius: 20px;

}
   
        
.btn {
    display: inline-block;
    padding: 1rem 1.2rem;
    color: #FFF;
    background: #000;
    text-decoration: none;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
    z-index: -1;
}

.btn:hover {
    transform: scale(1.1); /* Aumento de escala ao passar o mouse */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.btn:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
}





