@use 'variables'
    
    
* 
    
    font-weight: 800
    padding: 0
    margin: 0px
    font-family: 'Inconsolata', monospace
    box-sizing: border-box





h1, h2, h3, h4, h5

    font-family: 'Karla', sans-serif

body 

    background: variables.$body-bg-color

a, svg 
    transition: .4s    
